<md-content layout-padding>
  <form>
      <h2>Basic Info</h2>
    <md-input-container>
      <label for="name">Name</label>
      <input type="text" id="name" md-autofocus ng-model="athlete.name" required=""/>
    </md-input-container>
    <md-input-container>
      <label for="date_of_birth">Date of Birth</label>
      <input type="text" id="date_of_birth" ng-model="athlete.date_of_birth" value="athlete.date_of_birth" required=""/>
    </md-input-container>
    <md-input-container>
      <label for="Gender">Gender</label>
      <input
        type="text"
        id="gender"
        ng-model="athlete.gender"
        required=""
      ></input>
    </md-input-container>
    <div>
      <label for="profile_image">Image</label>
      <input type="file" id="profile_image" ng-model="athlete.profile_image" value="athlete.profile_image" ng-change=vm.editAthlete(this)/>
    </div>
    <md-input-container>
      <label for="image">Nationality</label>
      <select ng-model="athlete.nationality" ng-options="country for country in vm.countries" required=""></select>
    </md-input-container>
    <md-input-container>
      <label for="sport">Sport</label>
      <select ng-model="athlete.sport" ng-options="sport for sport in vm.sports" required=""></select>
    </md-input-container>
  </form>
</md-content>
